@font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url('../public/fonts/Orbitron-Regular.ttf') format('truetype');
  }

body {
    background: linear-gradient(#0a574f, #021210 );
    font-family: 'MyFont';
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #d7dcdb;
}

.App {
    text-align: center;
}
